.cs_product_style_1 {
  &.cs_type_1 {
    .cs_product_thumb {
      flex-direction: column;
    }
    .cs_action_btns {
    }
    .cs_product_info {
      position: absolute;
      bottom: 0;
    }
  }
}
